footer{
    background-color:var(--color-gray-5);
    height: 7rem;
    border-top: 2px solid #dadada;
    margin-top: 8rem;
}
    footer p{
        font-size: var(--font-size-16);
        color: var(--color-gray-4)
    }
