.showcase{
    position: relative;
    height: 52.88rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-gray-1);
    align-items: center;
}
    .showcase .showcase-text{
        max-width: 31rem;
        z-index: 2;
    }
        .showcase .showcase-text h1{
            font-weight: var(--font-weight-extra-bold);
            font-size: var(--font-size-65);
            letter-spacing: 4px;
        }
        .showcase .showcase-text p{
            margin-top: 2rem;
            font-size: var(--font-size-20);
        }
        .showcase .img-2{
            display: none;
        }
        .showcase .img-1 img{
            position: absolute;
            bottom: 1px;
            max-width: 90%;
        }
        
/* responsivity */
@media (min-width: 1600px) {
    .showcase .img-2{
        display: block;
    }
}

@media (min-width: 992px) {
    .showcase .img-1 img{
        position: static;
        max-width: 100%;
    }
    .showcase .showcase-text{
        z-index: 1;
    }
}

